<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div><a href="https://www.github.com" class="navbar-brand logo-image">
            <img class="img-fluid" src="assets/images/OM.png"></a>
            </div>

        <ul class="navbar-nav">
            <li><a routerLink="/welcome" class="nav-link">Home</a></li>
        </ul>

        <ul class="navbar-nav navbar-collapse justify-content-center">
            <li><a routerLink="/welcome" class="nav-link">
                <img class="tmobile-image" src="assets/images/T-Mobile-Logo.png">
            </a></li>
        </ul>

        <ul class="navbar-nav navbar-collapse justify-content-end">
            <li><a routerLink="/login" class="nav-link"></a></li>
            <li><a routerLink="/logout" class="nav-link">Logout</a></li>
        </ul>
    </nav>
</header>